body {
    background-image: url(img.png);
    background-repeat: repeat;
}
.paper-effect {
    width: 1000px;
    height: 600px;
    border: 10px solid white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    perspective: 1000px;
}
.paper-effect>div {
    border: 1px solid black;
    width: 198px;
    height: 598px;
    float: left;
    background-image: url(photo.jpg);
}
.paper-effect>div:nth-child(1) { 
    background-image: linear-gradient(to right, black, transparent, white) ;
}
.paper-effect>div:nth-child(2) {
    background-position: -200px 0;
    transform: translateX(-50px) rotateY(-45deg) scaleY(1.07);
    background-image: linear-gradient(to left, black, transparent, white);
}
.paper-effect>div:nth-child(3) {
    background-position: -400px 0;
    transform: translateX(-110px) rotateY(45deg) scaleY(1.07);
    /*background-image: linear-gradient(to right, black, transparent, white);*/
}
.paper-effect>div:nth-child(4) {
    background-position: -600px 0;
    transform: translateX(-170px) rotateY(-45deg) scaleY(1.07);
    /*background-image: linear-gradient(to left, black, transparent, white);*/
}
.paper-effect>div:nth-child(5) {
    background-position: -800px 0;
    transform: translateX(-230px) rotateY(45deg) scaleY(1.07);
    /*background-image: linear-gradient(to right, black, transparent, white);*/
}



